body {
  margin: 0;
  font-family: "Afacad", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  overflow: hidden;
}

code {
  font-family: "Afacad", sans-serif;
  font-family: "Josefin Sans", sans-serif;
}
